@model DFC.UMS.Microservice.ViewModel.StepViewModel

<form method="POST">
    <div class="row">
        <div class="col-md-12">
            <h2>Step Number : @Model.Step.QuestionId </h2>

            <p> @Model.Step.QuestionDescription</p>

            @if (Model.Answers != null)
            {
                <ul>
                    @foreach (var answer in Model.Answers)
                    {
                        <li>
                            <input value="@answer" type="checkbox" name="StepAnswer.SavedAnswers">  <label>@answer</label>
                        </li>
                    }
                </ul>
            }
        </div>
    </div>
    <button type="submit">Next</button>
    @Html.HiddenFor(model => model.StepAnswer.QuestionId)
    @Html.HiddenFor(model => model.StepAnswer.SessionId)
    @Html.HiddenFor(model => model.StepAnswer.FrameworkItemType)    
</form>