@page
@model DFC.UMS.Microservice.Pages.ManageJobProfileModel
@{
    ViewData["Title"] = "ManageJobProfile";
}

<h2>Manage JobProfile</h2>

<form method="POST">
    <div class="row">
        <div class="col-md-6">
            <p>
                <label>Title</label>
                <input type="text" asp-for="JobProfile.Title" />
            </p>

            <p>
                <label>UrlName</label>
                <input type="text" asp-for="JobProfile.UrlName" />
            </p>

            <p>
                <label>Select task items</label>
            </p>
            @if (Model.TaskItems != null)
            {
                <ul>
                    @foreach (var taskItem in Model.TaskItems)
                    {
                        <li>
                            <input value="@taskItem" type="checkbox" name="JobProfile.TaskItems">  <label>@taskItem</label>
                        </li>
                    }
                </ul>
            }
            <p>
                <label>Select Abilities</label>
            </p>
            @if (Model.Abilities != null)
            {
                <ul>
                    @foreach (var ability in Model.Abilities)
                    {
                        <li>
                            <input value="@ability" type="checkbox" name="JobProfile.AbilityList"> <label>@ability</label>
                        </li>
                    }
                </ul>
            }
            
            <p>
                <label>Select Skills items</label>
            </p>
            @if (Model.Skills != null)
            {
                <ul>
                    @foreach (var skill in Model.Skills)
                    {
                        <li>
                            <input value="@skill" type="checkbox" name="JobProfile.SkillList">    <label>@skill</label>
                        </li>
                    }
                </ul>
            }
        </div>

    </div>
    <button type="submit">Save Job Profile Details</button>
</form>


